.login {
    color: var(--color-text);
    display: grid;
    grid-template-columns: 1fr;
    left: 50%;
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    row-gap: var(--gap-7);
    width: 600px;
}

.logo {
    font-size: var(--font-size-xxl);
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: var(--gap-4);
}


.loginInput {
    background-color: transparent;
    border: 1px solid var(--color-hover-2);
    border-radius: var(--radius-size-m);
    color: var(--color-text);
    font-size: var(--font-size-l);
    outline: none;
    padding: var(--gap-4);
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap-4);
}

.error {
    color: var(--color-red);
    font-size: var(--font-size-l);
}


@media screen and (max-width: 1279px) {
    .loginInput, .error {
        font-size: var(--font-size-m);
    }
}

@media screen and (max-width: 767px) {
    .login {
        padding: calc(var(--gap-7) / 2);
        width: calc(100% - var(--gap-7));
    }

    .loginInput, .error {
        font-size: var(--font-size-s);
    }
}