.button {
    background-color: #444;
    border-radius: 4px;
    color: #FFF;
    cursor: pointer;
    font-size: 24px;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.green {
    background-color: #2ecc71;
}

.red {
    background-color: #e74c3c;
}

.button.disabled {
    cursor: default;
    opacity: 0.4;
}

.selected {
    opacity: 0.5;
}

.button:not(.disabled):not(.selected):hover {
    opacity: 0.9;
    cursor: pointer;
}

@media screen and (max-width: 1279px) {
    .button {
        font-size: 20px;
        padding: 16px 0;
    }
}

@media screen and (max-width: 676px) {
    .button {
        font-size: 16px;
        padding: 12px 0;
    }
}