.pageContent {
    display: grid;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.container {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    display: grid;
    justify-content: center;
    margin-top: 48px;
    text-align: center;
    row-gap: 24px;
}