.modal {
    background-color: var(--color-background-2);
    border-radius: 4px;
    box-shadow: 0 4px 6px -1px var(--color-background-2);
    color: var(--color-text);
    display: grid;
    padding: var(--gap-7);
    position: absolute;
    top: 50%;
    left: 50%;
    row-gap: var(--gap-6);
    text-align: center;
    transform: translate(-50%, -50%);
    width: 600px;
}

@media screen and (max-width: 1279px) {
    .modal {
        row-gap: var(--gap-5);
    }
}

@media screen and (max-width: 676px) {
    .modal {
        width: calc(100vw - 48px);
        row-gap: var(--gap-4);
    }
}