.sidebar {
    background-color: #222;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    height: 100vh;
    row-gap: var(--gap-7);
    width: 300px;
}

.logo {
    color: #FFF;
    font-size: var(--font-size-l);
    padding: var(--gap-5);
    text-align: center;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    row-gap: var(--gap-3);
    padding: var(--gap-3);
}

.navItem {
    align-items: center;
    background-color: #333;
    border-radius: var(--radius-size-m);
    color: #FFF;
    cursor: pointer;
    display: grid;
    font-size: var(--font-size-l);
    gap: var(--gap-4);
    grid-template-columns: min-content max-content;
    padding: var(--gap-5);
    text-align: left;
    width: 100%;
}

.navItem:hover {
    opacity: var(--opacity-hover);
}

.navItem.disabled {
    cursor: default;
    opacity: var(--opacity-disabled);
}



@media screen and (max-width: 1279px) {
    .logo {
        font-size: var(--font-size-m);
    }

    .navItem {
        font-size: var(--font-size-m);
        gap: var(--gap-4);
    }
}

@media screen and (max-width: 676px) {
    .logo {
        font-size: var(--font-size-s);
    }

    .navItem {
        font-size: var(--font-size-s);
        gap: var(--gap-3);
    }
}