.sidebar {
  background-color: var(--color-background-1);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content 1fr;
  height: 100vh;
  row-gap: var(--gap-7);
  width: 300px;
}

.logo {
  color: var(--color-text);
  font-size: var(--font-size-l);
  padding: var(--gap-5);
  text-align: center;
}

.navigation {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, min-content);
  row-gap: var(--gap-3);
  padding: var(--gap-3);
}

.navItem {
  align-items: center;
  background-color: var(--color-background-2);
  border-radius: var(--radius-size-m);
  color: var(--color-text);
  cursor: pointer;
  display: grid;
  font-size: var(--font-size-l);
  gap: var(--gap-4);
  grid-template-columns: min-content max-content;
  padding: var(--gap-5);
  text-align: left;
  width: 100%;
}

.navItem:hover {
  background-color: var(--color-hover-2);
}

.navItem.disabled {
  cursor: default;
  opacity: var(--opacity-disabled);
}

.languages {
  align-self: end;
  color: var(--color-text);
  display: grid;
  gap: var(--gap-3);
  grid-template-columns: 100px min-content min-content;
  padding: var(--gap-4);
  text-align: center;
}

.languageTitle {
  align-items: center;
  background-color: var(--color-background-2);
  border-radius: var(--radius-size-m);
  display: grid;
  text-align: center;
}

.language {
  background-color: var(--color-background-2);
  border-radius: var(--radius-size-m);
  cursor: pointer;
  height: 50px;
  justify-self: center;
  opacity: 0.4;
  padding: 10px;
}

.language.selected {
  opacity: 1;
}

@media screen and (max-width: 1279px) {
  .logo {
    font-size: var(--font-size-m);
  }

  .navItem {
    font-size: var(--font-size-m);
    gap: var(--gap-4);
  }
}

@media screen and (max-width: 676px) {
  .logo {
    font-size: var(--font-size-s);
  }

  .navItem {
    font-size: var(--font-size-s);
    gap: var(--gap-3);
  }
}
