.blockParagraph {
  font-size: var(--font-size-m);
}

@media screen and (max-width: 1279px) {
  .blockParagraph {
    font-size: var(--font-size-s);
  }
}

@media screen and (max-width: 676px) {
  .blockParagraph {
    font-size: var(--font-size-xs);
  }
}
