.statsWrapper {
    display: grid;
    row-gap: var(--gap-2);
}

.stats {
    display: grid;
    row-gap: var(--gap-1);
}

.stat {
    font-size: var(--font-size-m);
    ;
}


@media screen and (max-width: 1279px) {
    .stat {
        font-size: var(--font-size-s);
    }
}

@media screen and (max-width: 767px) {

    .title {
        font-size: var(--font-size-s);
    }
}